@import "reset.scss";
//@import "tools.scss";

body{
  background-image: url(../images/casino.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.parent{
  display: flex;
  width: 100%;
  position: fixed;
  //position: absolute;
  //left:300px;
  //top: 50px;
  /*height: 100px;*/
  //margin: 100px auto; 
  /*background-color: #b8e0b9;
  border: 1px solid black;
  //justify-content: flex-start;
  justify-content: center;
  //justify-content: flex-end;
  //justify-content: space-between;
  //justify-content: space-around;
  //flex-direction:row-reverse;
  flex-direction: column;
  align-items: center;*/ 
}

//https://www.w3schools.com/css/css3_buttons.asp
//https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3
.child {
  width: 100px;
  height: 20px;
  font-size:20px;
  color: red;
  text-align: center;
  //display: inline-block;
  padding: 14px 25px;
  cursor: pointer;
  /*text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;*/
  border: none;
  border-radius: 10px;
  &:hover{
    background-color: rgba(255, 191, 128,0.6);
    box-shadow: 0px 0px 20px #ffb366;
    padding: 10px;
    color: black;
  }
}
.container{
  width: 100%;
  height: 50%;
  display: block;
}

p{
  text-align: justify;
  font-size: 20px;
  margin-right: 600px;
  margin-left: 40px;
  margin-top: 50px;
  line-height: 30px;
}

/*.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/
//https://www.w3schools.com/css/css3_animations.asp
//https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation_speed
.div {
    width: 100px;
    height: 50px;
    background-color: red;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    position: relative;
    animation: mymove 5s infinite;
}
.div1 {animation-timing-function: linear; color: red;}
.div2 {animation-timing-function: ease; color: red;}
.div3 {animation-timing-function: ease-in; color: black;}
.div4 {animation-timing-function: ease-out; color: black;}


@keyframes mymove {
    // from {left: 0px;}
    // to {left: 1000px;}
    0%   {background-color:red; left:0px;}
    25%  {background-color:yellow; left:250px;}
    50%  {background-color:blue; left:500px; transform: rotateZ(180deg) scale(3);}
    75%  {background-color:green; left:750px;}
    100% {background-color:red; left:1000px;}
}

// .parent__child{
//  width: 50px;
//  height: 50px;
//  display: block;
//  font-size: 12px;
//  border: 1px solid black;
// }
// @media only screen 
.button{
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 4px;
  border: 1px solid black;
  display: none;
  line-height: 40px;
  text-align: center;
  cursor: pointer;  
}

@media only screen and (max-width: 480px){
  .button{
    display: block;
  }
  .child{
    display: none;
    &:hover{
    background-color: rgba(255, 191, 128,0.6);
    box-shadow: 0px 0px 20px #ffb366;
    } 
}
  .container{
    margin-top: 150px;
  }
  .show{
    display: block;
  }
}
@media only screen 
    and (min-width: 481px)
    and(max-width: 1024px){
    .child{
    display: inline-table;
    &:hover{
    background-color: rgba(255, 191, 128,0.6);
    box-shadow: 0px 0px 20px #ffb366;
    }
  }
   .container{
      display: none;
    }
}
@media only screen and (min-width: 1025px){
  .child{
  background-color: none;
  }
}
